@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

* {
    font-family: 'Raleway', sans-serif;
}

.inner-logo img{
  max-width: 200px;
  max-height: 50px;

}

input {
  margin-bottom: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding-top: 8px;
    text-align: center;
    border-bottom: 2px solid black;
}

h2 {
  background-color: rgb(91,167,28);
  text-align: center;
  padding: 10px;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     resize: none;
}

footer {
  text-align: center;
  border-color: #e7e7e7;
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

#gallery{
  max-height: 500px;
  max-width: 350px;
  padding: 50px;
  padding-bottom: 10px;

}
.button1 {  background-color: rgb(66,85,99);  color: white;}.button1:hover {    background-color: rgb(88,166,24); }
.center {
  margin: auto 0;
  text-align: center;
}

.remove {
  display: none !important;
}

#deleteForm {
  margin-left: 50px;
}